<div class="row">
<div class="col-sm-4" style="padding:50px;">
<h2 style="color:#000000;align:center;">Welcome to NoteNote</h2> 
<%= image_tag "e-books.jpg" , class: "basic" %>
</div>
<div class="col-sm-4"></div>	
<div class="box col-sm-4" style="border:1px solid #eee; box-shadow:2px 2px 2px 2px #eee; border-radius:10px; ">
<p>You dont need a notebook anymore!</p>
<p>Take your notes online</p>
<p>NoteNote is a great tool for students. With its help, you can easily write your notes to a computer, edit and format them.
</p>

</div>


</div>