
@import "bootstrap";

.logo>img {
	max-height: 40px
}


body {
	font-family: 'Abhaya Libre', serif;
	backgound-image: image-url('bg.jpg');
	
}

.abc {
	
	padding: 40px; 
}

.no-link{
	text-decoration: none;
}
.background_image{
    background: url(/assets/bg.jpg);
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: 100%;
}
.box{
	font-family: 'Abhaya Libre', serif;
	font-size: 20px;
  width: 300px;
    height: 300px;
    padding: 15px;
    background-color: #F0F8FF;
    box-shadow: 10px 10px;
    overflow: auto;
    opacity: 0.8;
    text-align: justify;
}
.basic
{
max-height: 500px;
max-width: 300px;	
}