
@import "bootstrap";

.logo>img {
	max-height: 40px
}


body {
	font-family: 'Abhaya Libre', serif;
	background: 	#F5FFFA;
}

.abc {
	
	padding: 40px; 
}

.no-link{
	text-decoration: none;
}
.background_image {
	
	background-image: url(/assets/bg.jpg) no-repeat center center fixed;
	 background-repeat: no-repeat;
    background-size: 100% 100%;
}


html { 
  background-image: url(/assets/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}