// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.background_image {
	
	background-image: asset-data-url('bg.jpg') no-repeat center center fixed;
	 background-repeat: no-repeat;
    background-size: 100% 100%;
}


html { 
  background-image: asset-data-url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.no-link{
	text-decoration: none;
}

.box{
  width: 300px;
    height: 100px;
    padding: 15px;
    background-color: yellow;
    box-shadow: 10px 10px;
}